<html>
<head>
    <title>Gomoku</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

<div id="main">
</div>
<script>var protocol = "{{ protocol }}"; </script>
<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.8.0/react.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.8.0/JSXTransformer.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/jsx" src="/static/js/r_scripts.js"></script>
<script src="/static/js/scripts.js"></script>
</body>
</html>